* {
  --color1: #f7f3ee;
  --color2: #6b5947;
  --color3: #f5d4d2;
}

@font-face {
  font-family: "corinthia";
  src: url("./fonts/Corinthia-Regular.ttf");
}

@font-face {
  font-family: "economica";
  src: url("./fonts/Economica-Regular.ttf");
}
/****************************HEADER*************************/
body {
  margin: 0;
  height: 100vh;
  /* background-color: var(--color1); */
}
header {
  background: var(--color1);
  border-bottom: 1px solid var(--color2);
  box-shadow: 1px 3px 8px var(--color2);
  margin-bottom: 2%;
}

.nav {
  text-align: center;
  margin-bottom: 10px;
}
#burger, #menuburger{
display: none;
}

a{
  text-decoration: none;
  color: black;
  font-family: "economica";
  margin: 0px 50px;
  font-size: 25px;
}


.btnconnect {
  color: #3e8e41;
  border: 2px solid #3e8e41;
  border-radius: 5px;
  padding: 0px 5px;
  font-family: "economica";
}
.btndeconnect {
  color: red;
  border: 2px solid red;
  border-radius: 5px;
  padding: 0px 5px;
  font-family: "economica";
}

@media(max-width: 965px){
  .nav{
      display: none;
  }
  #burger{
    display: block;
  }
  #menuburger{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*******************************CONNEXION**************************/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  border-radius: 10px;
  background-color: var(--color1);
}
.container input {
  border-radius: 5px;
  margin: 2%;
}
.container form {
  background-color: var(--color1);
  border: solid 1px #fab1ab;
}
.connect {
  width: 50%;
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inscription {
  width: 50%;
  border-radius: 20px;
}
.container h2 {
  text-align: center;
  font-family: "economica";
  font-size: 30px;
}
/******************************************************************ACCUEIL*************************************************/
.textacc{
  margin: auto;
  text-align: center;
  font-size: 30px;
  font-family: "economica";

}
/**********************************SLIDER*************************/
/* .best{
    font-size: 30px;
    margin-left: 2%;
    margin-bottom: 0;
} */

#slider {
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.055);
  margin-top: 2%;
}

#precedent,
#suivant {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 100px;
  color: rgba(0, 0, 0, 0.61);
  padding: 10px;
}

#precedent {
  left: 0;
}

#suivant {
  right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}
/******************************COFFRETS******************************/
.containcatcoffret {
  display: flex;
  justify-content: center;
  height: 600px;
  align-items: center;
  gap: 50px;
  margin-top: 1%;
}
.coffretmar,
.coffretnai,
.coffretvoy,
.coffretmai {
  border-radius: 5px;
  height: 450px;
  background-color: #3e8e41;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 50px;
  width: 100%;
  opacity: 0.7;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.coffretmar:hover,
.coffretnai:hover,
.coffretvoy:hover,
.coffretmai:hover{
    transition: opacity 0.8s ease;
    opacity: 1;
}

.coffretmar{
background: url("images/lit_wedd.jpeg") no-repeat;
background-size: cover;
}

.coffretnai{
    background: url("images/baby_deco.jpg");
    background-size: cover;
}
.coffretvoy{
    background: url("images/passport_avion.jpeg");
    background-size: cover;
}
.coffretmai{
  background: url("images/1-la-deco-campagne-chic-a-le-vent-en-poupe-maisons-du-monde.jpg");
    background-size: cover;
}

@media(max-width:965px){
  .containcatcoffret{
    flex-wrap: wrap;
  }
  .coffretmar,
.coffretnai,
.coffretvoy,
.coffretmai {
  width: 80%;
}
}
/**********************************CATEGORIES**********************/
.cat p {
  font-family: "economica";
  font-size: 40px;
  margin: 0;
  z-index: 100;
}
.cat {
  margin: 1%;
  padding-top: 10px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.cat img {
  z-index: 2;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  transition: transform 0.8s;
}
.cat img:hover {
  transform: scale(1.1);
}
@media(max-width:965px){
  .cat{
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
}
/***************************************PRODUIT***************************************/
.sectionproduit {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color2);
  height: auto;
  width: 70%;
  margin: 2% auto;
}
.produit {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: var(--color1);
  height: auto;
  text-align: center;
  margin: 1% auto;
}

/*****************************************************************************ADMIN*************************************************************/
table {
  border: 3px solid black;
}

td {
  border: 1px solid black;
  text-align: center;
}
/***************************************FORMULAIRES********************************************/
/******************Contact*************/
.formcontact {
  display: flex;
  flex-direction: column;
  margin: 6% 10%;
  padding: 20px;
}
.formcontact input,
.formcontact textarea,
.formcontact select {
  padding: 5px;
  border-radius: 2px;
  margin: auto;
  padding: 5px;
  margin-bottom: 1%;
  width: 70%;
  align-items: center;
  border: none;
  border-left: 1px solid var(--color2);
  border-bottom: 1px solid var(--color2);;
}
.formcontact input::placeholder,
.formcontact textarea::placeholder,
.formcontact select::placeholder{
  font-weight: bold;
}
.formcontact textarea {
  resize: none;
  height: 100px;
}
.formcontact input[type="submit"] {
  width: 10%;
  align-self: center;
  background-color: var(--color1);
  color: var(--color2);
  font-weight: bold;
  cursor: pointer;
  border: 3px solid var(--color2);
}
#formperso{
  display: none;
}
.msgenvoye{
  text-align: center;
  color: #3e8e41;
  font-family: "Economica";
  font-size: 20px;
}
.msgnonenvoye{
  text-align: center;
  color: red;
  font-family: "Economica";
  font-size: 20px;
}

@media(max-width:965px){
  .formcontact{
    margin: 4% 0%;
  }
  .formcontact input[type="submit"]{
    width: 40%;
  }
}
/******************Connexion Inscription******************/
.containerconnexion {
  display: flex;
}

/***************************FOOTER******************/
footer {
  background-color: var(--color1);
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  font-size: 20px;
  padding: 10px;
  margin-top: auto ;
  /* border-top:1px solid var(--color2) ;
    box-shadow: 1px 3px 8px var(--color2); */
}
/*****************************************************************/
.containproduct{
  width: 60%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.containproduct img{
  margin-right: 5%;
  width:400px ;
  height: 500px;
}
.product{
  /* align-items: center; */
display: flex;
flex-direction: column;
justify-content: center;
}

@media(max-width:965px){
  .containproduct{
    flex-direction: column;
  }
  .containproduct img {
    width: 100%;
  }
}
